<!-- app/views/users/show.html.erb -->
<div class="user-profile-card">
  <div class="user-avatar">
    <% case current_user.email
       when 'john.doe@example.com'
         avatar_url = "https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uY2VydHxlbnwwfHwwfHx8Mg%3D%3D"
       when 'jane.smith@example.com'
         avatar_url = "https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8eW9nYXxlbnwwfHwwfHx8Mg%3D%3D"
       when 'sara.bouiala@gmail.com'
         avatar_url = "https://res.cloudinary.com/dneopsx5s/image/upload/v1724696216/Sara_Bouiala_pc2fnl.png"
       when 'othmanebenchekroun@gmail.com'
         avatar_url = "https://res.cloudinary.com/dneopsx5s/image/upload/v1724696256/PHOTO_PRO_e0wcqa.png"
       else
         avatar_url = "https://images.unsplash.com/photo-1621112904887-419379ce6824?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
       end %>

    <!-- Use the avatar_url variable here -->
    <img src="<%= avatar_url %>" alt="User Avatar" class="avatar-square avatar-round">
  </div>

  <div class="user-info">
    <h1><%= @user.name %> <%= @user.surname %></h1>
    <h3><%= @user.city %></h3>

    <div class="user-details">
      <p><strong>Age:</strong> <%= age(@user.date_of_birth) %></p>
      <p><strong>City:</strong> <%= @user.city %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>Phone:</strong> <%= @user.phone_number %></p>
    </div>
<br><br>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn-primary" %>
  </div>
</div>
