<div id="indexpage">
  <div class="banner-image"></div>

  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <!-- Hardcoded Image -->
              <% if event.type_id == 1 %>
            <img src="https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uY2VydHxlbnwwfHwwfHx8Mg%3D%3D" alt="<%= event.title %>" class="card-img-top">
          <% elsif event.type_id == 3 %>
            <img src="https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8eW9nYXxlbnwwfHwwfHx8Mg%3D%3D" alt="<%= event.title %>" class="card-img-top">
          <% elsif event.type_id == 6 %>
            <img src="https://images.unsplash.com/photo-1550096141-7263640aa48c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGNvbW11bml0eXxlbnwwfHwwfHx8Mg%3D%3D" alt="<%= event.title %>" class="card-img-top">
          <% elsif event.type_id == 5 %>
            <img src="https://images.unsplash.com/photo-1544928147-79a2dbc1f389?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fHdvcmtzaG9wfGVufDB8fDB8fHwy" alt="<%= event.title %>" class="card-img-top">
          <% elsif event.type_id == 4 %>
            <img src="https://images.unsplash.com/photo-1639763703351-c27defbb51b1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dG91ciUyMGd1aWRlfGVufDB8fDB8fHwy" alt="<%= event.title %>" class="card-img-top">
          <% elsif event.type_id == 2 %>
            <img src="https://images.unsplash.com/photo-1683117855296-979f17e62e87?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="<%= event.title %>" class="card-img-top">
          <% else %>
            <img src="https://images.unsplash.com/photo-1621112904887-419379ce6824?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="<%= event.title %>" class="card-img-top">
          <% end %> <!-- End of if statement -->

            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= event.date.strftime('%B %d') %></h6>

              <p class="card-text">
                <i class="fas fa-info-circle"></i> <!-- Font Awesome Icon for Description -->
                <strong>Description:</strong> <%= truncate(event.description, length: 100) %><br>
                <i class="fas fa-map-marker-alt"></i> <!-- Font Awesome Icon for Location -->
                <strong>Location:</strong> <%= event.address %><br>
                <i class="fas fa-envelope"></i> <!-- Font Awesome Icon for Email -->
                <strong>Organizer:</strong> <a href="mailto:<%= event.user.email %>"><%= event.user.email %></a>
              </p>
            </div>

            <div class="card-footer">
              <span class="price"><%= event.price %> MAD</span>
              <a href="<%= event_path(event) %>" class="btn btn-primary btn-sm">Book Now</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= paginate @events %>
  </div>
</div>
