<div id="indexpage">
  <div class="banner-image"></div>

  <h1 class="text-center my-4 second-title">
    Discover Current Events in Your City<br>
    Do you want to add your own event?<%= link_to "Click here", new_event_path, class: "btn btn-link ml-3 button-event" %>
  </h1>

  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <!-- Hardcoded Image -->
            <img src="https://clubspeed.com/wp-content/uploads/2022/05/shutterstock_454936141-1-1024x539.jpg" alt="<%= event.title %>" class="card-img-top">

            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= event.date.strftime('%B %d') %></h6>

              <p class="card-text">
                <i class="fas fa-info-circle"></i> <!-- Font Awesome Icon for Description -->
                <strong>Description:</strong> <%= truncate(event.description, length: 100) %><br>
                <i class="fas fa-map-marker-alt"></i> <!-- Font Awesome Icon for Location -->
                <strong>Location:</strong> <%= event.address %><br>
                <i class="fas fa-envelope"></i> <!-- Font Awesome Icon for Email -->
                <strong>Organizer:</strong> <a href="mailto:<%= event.user.email %>"><%= event.user.email %></a>
              </p>
            </div>

            <div class="card-footer">
              <span class="price">€<%= event.price %></span>
              <a href="<%= event_path(event) %>" class="btn btn-primary btn-sm">Book Now</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= paginate @events %>
  </div>
</div>
