<div id="mainID" data-controller="popup">
<div class="event-participants">
  <% if current_user == @event.user %>
    <h3 class="list-heading">Pending Participants</h3>
    <ul class="participant-list">
      <% @event.participations.where(status: 'pending').each do |participation| %>
        <li id="participation-<%= participation.id %>" class="participant-item">
          <span><%= participation.user.name %> <%= participation.user.surname %></span>

          <!-- Approve Form -->
          <%= form_with url: approve_participation_path(participation), method: :patch, local: true, class: 'inline-form' do %>
            <button type="submit" class="accept-button"><i class="fa fa-check"></i></button>
          <% end %>

          <!-- Reject Form -->
          <%= form_with url: reject_participation_path(participation), method: :patch, local: true, class: 'inline-form' do %>
            <button type="submit" class="decline-button"><i class="fa fa-times"></i></button>
          <% end %>

        </li>
      <% end %>
    </ul>

  <% end %>
</div>
  <div class="container">
    <div class="event-header">
      <img src="https://superchargedracing.com/wp-content/uploads/2021/10/karting-5.jpg" alt="Event Image" class="event-image">

      <div class="event-details">
        <h1 class="event-title"><%= @event.title %></h1>
        <p class="event-organizer">
          <span class="by">by</span> <span id="user-name"><%= @event.user.email.split('@').first %></span>
        </p>
        <p class="event-date">
          <i class="fas fa-calendar-alt"></i> <%= @event.date.strftime('%d %B %Y - %H:%M') %>
        </p>
        <p class="event-location">
          <i class="fas fa-map-marker-alt"></i> <%= @event.address %>
        </p>
        <p class="event-attendance">
          <i class="fas fa-users"></i> <%= @event.capacity %> people can attend
        </p>
        <div class="event-actions">
          <button class="btn price-btn event-details-btn">
            <i class="fas fa-tag"></i> <%= number_to_currency(@event.price, unit: 'MAD') %>
          </button>
          <!-- Button to Trigger Pop-Up -->
          <button id="participate-button" class="btn save-btn event-details-btn" data-event-id="<%= @event.id %>">
            <i class="fas fa-bookmark"></i> Participate
          </button>
          <button class="btn share-btn event-details-btn">
            <i class="fas fa-share-alt"></i> Share
          </button>
        </div>
      </div>
    </div>

    <div class="event-description">
      <h3><i class="fas fa-info-circle"></i> Description :</h3>
      <p><%= @event.description %></p>
    </div>

    <div class="event-organizer-info">
      <h3><i class="fas fa-user-tie"></i> Organised by:</h3>
      <p><%= @event.user.email.split('@').first %></p>
    </div>

    <div class="event-tags">
      <h3><i class="fas fa-tags"></i> Tags:</h3>
      <span class="tag"><%= @event.type.name %></span>
    </div>

    <div class="event-map">
      <h3><i class="fas fa-map"></i> Location</h3>
      <iframe src="https://maps.google.com/maps?q=<%= @event.address %>&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="event-actions-footer">
      <%= link_to "<i class='fas fa-edit'></i> Edit this event".html_safe, edit_event_path(@event), class: 'action-link edit-link' %> |
      <%= link_to "<i class='fas fa-arrow-left'></i> Back to events".html_safe, events_path, class: 'action-link back-link' %>
      <%= button_to "<i class='fas fa-trash'></i> Destroy this event".html_safe, @event, method: :delete, class: 'action-link delete-link' %>
    </div>
  </div>
</div>

<!-- Pop-Up Modal -->
<div id="participation-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Are you sure you want to participate in this event?</h2>
    <%= form_with url: participations_path(event_id: @event.id), method: :post, local: true, id: 'participate-form' do %>
  <%= hidden_field_tag :event_id, @event.id %>
  <button type="submit" class="btn btn-success">Yes, I'm sure</button>
  <button type="button" class="btn btn-danger" id="cancel-participation">No, Cancel</button>
<% end %>
  </div>
</div>
